{% extends 'layout.html' %}


{% block content %}
{% load static %} 


<div class="p-2 mt-5"></div>
<!-- start account page -->


<!-- advertisments -->
<span id="category_title" class="d-flex justify-content-center align-items-center mt-4  mx-3 p-1 rounded" style="background-color:rgb(226, 240, 233); color:rgb(4, 70, 39);font-size:1.2rem;">
    <i class="bi bi-badge-ad-fill text-success mx-1" style="font-size:1.2rem;"></i>ADVERTISMENT & NEWS</span>
    <div class="d-flex justify-content-center">
<div class="d-flex flex-nowrap overflow-x-auto  gap-3 p-3 mx-2" >
    <div id="advertisment" class="top_providers  p-5 text-light flex-shrink-0">
     {% comment %} box-shadow: 0 -2px 5px rgb(2, 24, 13); {% endcomment %}
     OUR SHOPS
     <span class="d-flex justify-content-center align-items-center ">
         <i class="bi bi-shop-window text-light mx-2" style="font-size:3.5rem;"></i>
         <span>
     </div>

     <div id="advertisment" class="top_providers  p-5 text-light flex-shrink-0" >
         {% comment %} box-shadow: 0 -2px 5px rgb(2, 24, 13); {% endcomment %}
         OUR MEETINGS
         <span class="d-flex justify-content-center align-items-center">
             <i class="bi bi-people text-light mx-2" style="font-size:3.5rem;"></i>
             <span>
         </div>

         <div id="advertisment" class="top_providers  p-5 text-light flex-shrink-0" >
             {% comment %} box-shadow: 0 -2px 5px rgb(2, 24, 13); {% endcomment %}
             OUR UNIFORMS
             <span class="d-flex justify-content-center align-items-center">
                 <i class="bi bi-person-arms-up text-light mx-2" style="font-size:3.5rem;"></i>
                 <span>
             </div>

             <div id="advertisment" class="top_providers  p-5 text-light flex-shrink-0"  >
                 {% comment %} box-shadow: 0 -2px 5px rgb(2, 24, 13); {% endcomment %}
                OUR BRANCHS
                 <span class="d-flex justify-content-center align-items-center">
                     <i class="bi bi-houses text-light mx-2" style="font-size:3.5rem;"></i>
                     <span>
                 </div>
</div>
</div>
<!-- finish advertisments -->


 
<!-- start advertisments -->
<span id="category_title" class="d-flex justify-content-center align-items-center mt-3 mx-3 p-1 rounded" style="background-color:rgb(226, 240, 233); color:rgb(4, 70, 39); font-size:1.2rem;">
    <i class="bi bi-file-medical-fill text-success mx-1" style="font-size:1.2rem;"></i>SHOP NEWS</span>

<!-- start shop advertisment -->
<div class="d-flex justify-content-center align-items-start mx-3 rounded my-1 p-3" style="background-color:rgb(226, 240, 233);">
    <div class="row ">
    <div class="col-sm-3 mx-2 mt-3 " >
           <img class="categoryimg" style="width:300px; height:250px;" src="{% static '/images/eternal/sales.jpeg' %}">

           <!-- posture category -->
           <div class="d-flex justify-content-center align-items-center mt-2 gap-1 px-1 py-2 bg-light" style="border-radius:25px; ">
                <span class="d-flex justify-content-center align-items-center px-3 py-2 " style="border-radius:25px; color:rgb(4, 70, 39); background-color:rgb(226, 240, 233);" >
                    <i class="bi bi-image-fill text-success mx-1" style="font-size:1.3rem;"></i>Posture
                </span>

            <div class="d-flex justify-content-center align-items-start mx-1 gap-1 p-2" style="border-radius:25px; background-color:rgb(226, 240, 233);">
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-eye-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-emoji-heart-eyes-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-share-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
            </div>
        </div>

            <!-- video category -->
            <div class="d-flex justify-content-center align-items-center mt-2 gap-1 px-1 py-2 bg-light" style="border-radius:25px; ">
                <span class="d-flex justify-content-center align-items-center px-3 py-2 " style="border-radius:25px; color:rgb(4, 70, 39); background-color:rgb(226, 240, 233);" >
                    <i class="bi bi-play-btn-fill text-success mx-1" style="font-size:1.3rem;"></i>Video
                </span>

            <div class="d-flex justify-content-center align-items-start mx-1 gap-1 p-2" style="border-radius:25px; background-color:rgb(226, 240, 233);">
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-eye-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-emoji-heart-eyes-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-share-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
           </div>
    </div>
</div>

    <div class=" col-sm p-2 rounded" style="background-color:rgb(226, 240, 233);">
        <div style="border-left:3px solid rgb(4, 70, 39); " class="rounded p-2 bg-white my-2"><b>SHOP INFO</b></div>
        <div style="border-left:3px solid rgb(4, 70, 39);" class="rounded p-2  bg-white my-2">
            <span style="color:rgb(4, 70, 39); "><b>Shop Description</b></span><br>
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
        </div>
        <div style="border-left:3px solid rgb(4, 70, 39);" class="rounded p-2  bg-white my-2">
            <span style="color:rgb(4, 70, 39); "><b>Shop Location</b></span><br>
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
             Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
             Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
        </div>
    </div>
<!-- finish shop -->

</div>
</div>
<!-- finish shop category-->




<!-- start meeting advertisments -->
<span id="category_title" class="d-flex justify-content-center align-items-center mt-3 mx-3 p-1 rounded" style="background-color:rgb(226, 240, 233); color:rgb(4, 70, 39); font-size:1.2rem;">
    <i class="bi bi-badge-ad-fill text-success mx-1" style="font-size:1.2rem;"></i>MEETING NEWS</span>

<!-- start meeting advertisment -->
<div class="d-flex justify-content-center align-items-start mx-3 rounded my-1 p-3" style="background-color:rgb(226, 240, 233);">
    <div class="row ">
    <div class="col-sm-3 mx-2 mt-3 " >
           <img class="categoryimg" style="width:300px; height:250px;" src="{% static '/images/eternal/sales.jpeg' %}">

           <!-- posture category -->
           <div class="d-flex justify-content-center align-items-center mt-2 gap-1 px-1 py-2 bg-light" style="border-radius:25px; ">
                <span class="d-flex justify-content-center align-items-center px-3 py-2 " style="border-radius:25px; color:rgb(4, 70, 39); background-color:rgb(226, 240, 233);" >
                    <i class="bi bi-image-fill text-success mx-1" style="font-size:1.3rem;"></i>Posture
                </span>

            <div class="d-flex justify-content-center align-items-start mx-1 gap-1 p-2" style="border-radius:25px; background-color:rgb(226, 240, 233);">
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-eye-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-emoji-heart-eyes-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-share-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
            </div>
        </div>

            <!-- video category -->
            <div class="d-flex justify-content-center align-items-center mt-2 gap-1 px-1 py-2 bg-light" style="border-radius:25px; ">
                <span class="d-flex justify-content-center align-items-center px-3 py-2 " style="border-radius:25px; color:rgb(4, 70, 39); background-color:rgb(226, 240, 233);" >
                    <i class="bi bi-play-btn-fill text-success mx-1" style="font-size:1.3rem;"></i>Video
                </span>

            <div class="d-flex justify-content-center align-items-start mx-1 gap-1 p-2" style="border-radius:25px; background-color:rgb(226, 240, 233);">
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-eye-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-emoji-heart-eyes-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-share-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
           </div>
    </div>
</div>

    <div class=" col-sm p-2 rounded" style="background-color:rgb(226, 240, 233);">
         <div style="border-left:3px solid rgb(4, 70, 39); " class="rounded p-2 bg-white my-2"><b>Meeting INFO</b></div>
        <div style="border-left:3px solid rgb(4, 70, 39);" class="rounded p-2  bg-white my-2">
            <span style="color:rgb(4, 70, 39); "><b>Meeting Description</b></span><br>
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
        </div>
        <div style="border-left:3px solid rgb(4, 70, 39);" class="rounded p-2  bg-white my-2">
            <span style="color:rgb(4, 70, 39); "><b>Meeting Location</b></span><br>
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
             Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
             Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
        </div>
    </div>
<!-- finish meeting -->

</div>
</div>
<!-- finish meeting category-->
 



<!-- start meeting advertisments -->
<span id="category_title" class="d-flex justify-content-center align-items-center mt-3 mx-3 p-1 rounded" style="background-color:rgb(226, 240, 233); color:rgb(4, 70, 39); font-size:1.2rem;">
    <i class="bi bi-badge-ad-fill text-success mx-1" style="font-size:1.2rem;"></i>UNIFORM NEWS</span>

<!-- start meeting advertisment -->
<div class="d-flex justify-content-center align-items-start mx-3 rounded my-1 p-3" style="background-color:rgb(226, 240, 233);">
    <div class="row ">
    <div class="col-sm-3 mx-2 mt-3 " >
           <img class="categoryimg" style="width:300px; height:250px;" src="{% static '/images/eternal/sales.jpeg' %}">

           <!-- posture category -->
           <div class="d-flex justify-content-center align-items-center mt-2 gap-1 px-1 py-2 bg-light" style="border-radius:25px; ">
                <span class="d-flex justify-content-center align-items-center px-3 py-2 " style="border-radius:25px; color:rgb(4, 70, 39); background-color:rgb(226, 240, 233);" >
                    <i class="bi bi-image-fill text-success mx-1" style="font-size:1.3rem;"></i>Posture
                </span>

            <div class="d-flex justify-content-center align-items-start mx-1 gap-1 p-2" style="border-radius:25px; background-color:rgb(226, 240, 233);">
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-eye-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-emoji-heart-eyes-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-share-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
            </div>
        </div>

            <!-- video category -->
            <div class="d-flex justify-content-center align-items-center mt-2 gap-1 px-1 py-2 bg-light" style="border-radius:25px; ">
                <span class="d-flex justify-content-center align-items-center px-3 py-2 " style="border-radius:25px; color:rgb(4, 70, 39); background-color:rgb(226, 240, 233);" >
                    <i class="bi bi-play-btn-fill text-success mx-1" style="font-size:1.3rem;"></i>Video
                </span>

            <div class="d-flex justify-content-center align-items-start mx-1 gap-1 p-2" style="border-radius:25px; background-color:rgb(226, 240, 233);">
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-eye-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-emoji-heart-eyes-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-share-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
           </div>
    </div>
</div>

    <div class=" col-sm p-2 rounded" style="background-color:rgb(226, 240, 233);">
         <div style="border-left:3px solid rgb(4, 70, 39); " class="rounded p-2 bg-white my-2"><b>UNIFORM INFO</b></div>
        <div style="border-left:3px solid rgb(4, 70, 39);" class="rounded p-2  bg-white my-2">
            <span style="color:rgb(4, 70, 39); "><b>Uniform Description</b></span><br>
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
        </div>
        <div style="border-left:3px solid rgb(4, 70, 39);" class="rounded p-2  bg-white my-2">
            <span style="color:rgb(4, 70, 39); "><b>Uniform Location</b></span><br>
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
             Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
             Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
        </div>
    </div>
<!-- finish uniform -->

</div>
</div>
<!-- finish uniform  category-->




<!-- start branches advertisments -->
<span id="category_title" class="d-flex justify-content-center align-items-center mt-3 mx-3 p-1 rounded" style="background-color:rgb(226, 240, 233); color:rgb(4, 70, 39); font-size:1.2rem;">
    <i class="bi bi-badge-ad-fill text-success mx-1" style="font-size:1.2rem;"></i>BRANCHES NEWS</span>

<!-- start branches advertisment -->
<div class="d-flex justify-content-center align-items-start mb-3 mx-3 rounded my-1 p-3" style="background-color:rgb(226, 240, 233);">
    <div class="row ">
    <div class="col-sm-3 mx-2 mt-3 " >
           <img class="categoryimg" style="width:300px; height:250px;" src="{% static '/images/eternal/sales.jpeg' %}">

           <!-- posture category -->
           <div class="d-flex justify-content-center align-items-center mt-2 gap-1 px-1 py-2 bg-light" style="border-radius:25px; ">
                <span class="d-flex justify-content-center align-items-center px-3 py-2 " style="border-radius:25px; color:rgb(4, 70, 39); background-color:rgb(226, 240, 233);" >
                    <i class="bi bi-image-fill text-success mx-1" style="font-size:1.3rem;"></i>Posture
                </span>

            <div class="d-flex justify-content-center align-items-start mx-1 gap-1 p-2" style="border-radius:25px; background-color:rgb(226, 240, 233);">
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-eye-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-emoji-heart-eyes-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-share-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
            </div>
        </div>

            <!-- video category -->
            <div class="d-flex justify-content-center align-items-center mt-2 gap-1 px-1 py-2 bg-light" style="border-radius:25px; ">
                <span class="d-flex justify-content-center align-items-center px-3 py-2 " style="border-radius:25px; color:rgb(4, 70, 39); background-color:rgb(226, 240, 233);" >
                    <i class="bi bi-play-btn-fill text-success mx-1" style="font-size:1.3rem;"></i>Video
                </span>

            <div class="d-flex justify-content-center align-items-start mx-1 gap-1 p-2" style="border-radius:25px; background-color:rgb(226, 240, 233);">
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-eye-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-emoji-heart-eyes-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
                <span class="p-1 bg-light" style="border-radius:35px; color:rgb(4, 70, 39);" >
                    <i class="bi bi-share-fill text-success mx-2" style="font-size:1rem;"></i>
                </span>
           </div>
    </div>
</div>

    <div class=" col-sm p-2 rounded" style="background-color:rgb(226, 240, 233);">
        <div style="border-left:3px solid rgb(4, 70, 39); " class="rounded p-2 bg-white my-2"><b>Branches INFO</b></div>
        <div style="border-left:3px solid rgb(4, 70, 39);" class="rounded p-2  bg-white my-2">
            <span style="color:rgb(4, 70, 39); "><b>Branches Description</b></span><br>
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
        </div>
        <div style="border-left:3px solid rgb(4, 70, 39);" class="rounded p-2  bg-white my-2">
            <span style="color:rgb(4, 70, 39); "><b>Braches Location</b></span><br>
            Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
            au kushindwa kusukuma damu. Dalili ni maumivu ya kifua, mapigo yasiyo ya kawaida, upungufu wa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
             Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
             pumzi na uchovu. Tiba hutegemea aina, ikiwemo dawa za presha, upasuaji au mabadiliko ya maisha.
             Magonjwa ya moyo ni hali inayoharibu kazi ya moyo kama shinikizo la damu, kuziba kwa mishipa
        </div>
    </div>
<!-- finish branches -->

</div>
</div>
<!-- finish branches category-->


{% endblock %}