{% load static %}
<div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseformModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
     
      <!-- Modal Header -->
      <div class="modal-header">
        {% comment %} <h5 class="modal-title" id="diseaseformModalLabel">Add Disease</h5> {% endcomment %}
        <button type="button" class="btn btn-sm btn-outline-secondary btn-close" data-bs-dismiss="modal"></button>
      </div>
     
      <!-- Modal Body -->
      <div class="modal-body">
        <section class="book_section mb-2" id="details">
          <div class="container">
            <form id="diseaseForm" method="post" action="{% url 'post_disease' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <h4>FILL <span>DISEASE</span></h4>
             
              <div class="row">
                <!-- Disease Name -->
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="{{ form.disease_name.id_for_label }}">Disease Name</label>
                    <input type="text" class="form-control" id="{{ form.disease_name.id_for_label }}" name="disease_name" placeholder="Enter disease name" required>
                  </div>
                </div>

                <!-- Description -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description</label>
                    <textarea class="form-control" id="{{ form.description.id_for_label }}" name="description" rows="3" placeholder="Enter description..." required></textarea>
                  </div>
                </div>
             
                <!-- Symptoms -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.symptoms.id_for_label }}">Symptoms</label>
                    <textarea class="form-control" id="{{ form.symptoms.id_for_label }}" name="symptoms" rows="3" placeholder="List disease symptoms" required></textarea>
                  </div>
                </div>
              </div>
             
              <div class="row">
                <!-- Causes -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.causes.id_for_label }}">Causes</label>
                    <textarea class="form-control" id="{{ form.causes.id_for_label }}" name="causes" rows="3" placeholder="What causes this disease?" required></textarea>
                  </div>
                </div>
             

                <!-- Treatment -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.treatment.id_for_label }}">Treatment</label>
                    <textarea class="form-control" id="{{ form.treatment.id_for_label }}" name="treatment" rows="3" placeholder="How to treat/manage this disease?" required></textarea>
                  </div>
                </div>

                <!-- Additonal Comment -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.additional_comment.id_for_label }}">Additonal Comment</label>
                    <textarea class="form-control" id="{{ form.additional_comment.id_for_label }}" name="additional_comment" rows="3" placeholder="What additonal comment to this disease!" required></textarea>
                  </div>
                </div>
              </div>

              <!-- Profile Image -->
              <div class="row mb-2">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.profile_image.id_for_label }}">Disease Profile Image (Optional)</label>
                    <input type="file" class="form-control" id="{{ form.profile_image.id_for_label }}" name="profile_image" accept="image/*">
                  </div>
                </div>
             
              <!-- Image -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.image.id_for_label }}">Disease Image (Optional)</label>
                    <input type="file" class="form-control" id="{{ form.image.id_for_label }}" name="image" accept="image/*">
                  </div>
                </div>

                 <!-- Video -->
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="{{ form.video.id_for_label }}">Disease Video (Optional)</label>
                    <input type="file" class="form-control" id="{{ form.video.id_for_label }}" name="video" accept="video/*">
                  </div>
                </div>
              </div>
             
              <div class="btn-box">
                <button id="postdisease_button" type="submit" class="btn btn-sm btn-light bg-secondary text-white">Post</button>
              </div>
            </form>
          </div>
        </section>
      </div>
     
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>