
<style>
    /* Password input and show/hide button */
    .password-container {
        position: relative;
    }
  
    .password-container input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
  
    .password-container .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        user-select: none;
    }
  
    /* Strength indicator bar */
    .strength-meter {
        height: 5px;
        background-color: #ddd;
        border-radius: 5px;
        margin-top: 5px;
    }
  
    .strength-meter-fill {
        height: 100%;
        width: 0;
        border-radius: 5px;
        transition: width 0.3s ease-in-out;
    }
  
    /* Strength level colors */
    .weak {
        background-color: red;
    }
  
    .medium {
        background-color: orange;
    }
  
    .strong {
        background-color: green;
    }
  </style>

<div class="modal fade" id="editUserModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form id="editUserForm" method="post" action="{% url 'edit_user' model object.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="shadow p-3 my-2 mx-2">
            <span class="px-4 py-2 bg-light h4 d-flex justify-content-center align-items-center my-3"><b>Modify Member Details</b></span>

            <!-- User Fields -->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Username</label>
                <input type="text" class="form-control" name="{{ user_form.username.html_name }}" value="{{ user_form.username.value }}" required>
              </div>

              <div class="form-group col-md-3 password-container">
                <label>Password</label>
                <input type="password" class="form-control" name="{{ user_form.password.html_name }}" placeholder="Enter New/Old password">
                <span class="toggle-password mt-2 mx-2 bg-light p-2"><i class="bi bi-eye-fill"></i></span>
                <div class="strength-meter">
                  <div class="strength-meter-fill" id="password-strength"></div>
                </div>
              </div>

                <div class="form-group col-md-3">
                  <label for="{{ user_form.email.id_for_label }}">Email</label>
                  <input type="email" class="form-control" id="{{ user_form.email.id_for_label }}" name="{{ user_form.email.html_name }}" value="{{ user_form.email.value }}" placeholder="Fill Email" required>
                </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label>First Name</label>
                <input type="text" class="form-control" name="{{ user_form.first_name.html_name }}" value="{{ user_form.first_name.value }}" required>
              </div>
              <div class="form-group col-md-3">
                <label>Last Name</label>
                <input type="text" class="form-control" name="{{ user_form.last_name.html_name }}" value="{{ user_form.last_name.value }}" required>
              </div>
              <div class="form-group col-md-3">
                <label>Mobile</label>
                <input type="text" class="form-control" name="{{ user_detail_form.mobile_contact.html_name }}" value="{{ user_detail_form.mobile_contact.value }}" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Gender</label>
                <input type="text" class="form-control" name="{{ user_detail_form.gender.html_name }}" value="{{ user_detail_form.gender.value }}">
              </div>
              <div class="form-group col-md-3">
                <label>Age</label>
                <input type="number" class="form-control" name="{{ user_detail_form.age.html_name }}" value="{{ user_detail_form.age.value }}" required>
              </div>
              <div class="form-group col-md-3">
                <label>Region</label>
                <input type="text" class="form-control" name="{{ user_detail_form.region.html_name }}" value="{{ user_detail_form.region.value }}">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Postal Address</label>
                <input type="text" class="form-control" name="{{ user_detail_form.postal_address.html_name }}" value="{{ user_detail_form.postal_address.value }}">
              </div>
              <div class="form-group col-md-3">
                <label>Membership No</label>
                <input type="text" class="form-control" name="{{ user_detail_form.membership_no.html_name }}" value="{{ user_detail_form.membership_no.value }}">
              </div>
              <div class="form-group col-md-3">
                <label>Profile Image</label>
                <input type="file" class="form-control" name="{{ user_detail_form.profile_image.html_name }}">
              </div>

              {% if  user_detail_form.company_rank.value  %}
              <div class="form-group col-md-3">
                <label>Company Rank</label>
                <select class="form-control" name="{{ user_detail_form.company_rank.html_name }}">
                  <option value="{{ user_detail_form.company_rank.value }}" name="{{ user_detail_form.company_rank.html_name }}">{{ user_detail_form.company_rank.value }}</option>
                </select>
              </div>

              {% else %}
                <div class="form-group col-md-3">
                <label>Company Rank</label>
                <select class="form-control" name="{{ user_detail_form.company_rank.html_name }}">
                  <option value="" name="{{ user_detail_form.company_rank.html_name }}">{{ user_detail_form.company_rank.value }}</option>
                </select>
              </div>
              {% endif %}
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-warning usersubmit-edit-btn" data-form="#editUserForm" data-modal="#editUserModal">Save Changes</button>
          </div>

      </form>
    </div>
  </div>
</div>


<script>
// Show/hide password
document.querySelector('.toggle-password').addEventListener('click', function () {
    const input = this.previousElementSibling;
    const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
    input.setAttribute('type', type);
    this.innerHTML = type === 'password' ? '<i class="bi bi-eye-fill"></i>' : '<i class="bi bi-eye-slash-fill"></i>';
});

// Password strength checker
const passwordInput = document.getElementById('id_password');
const passwordStrength = document.getElementById('password-strength');

passwordInput.addEventListener('input', function () {
    checkPasswordStrength(passwordInput.value, passwordStrength);
});

function checkPasswordStrength(password, strengthMeter) {
    let strength = 0;
    if (password.length > 7) strength += 1;
    if (/[A-Z]/.test(password)) strength += 1;
    if (/[0-9]/.test(password)) strength += 1;
    if (/[@$!%*?&]/.test(password)) strength += 1;
    updateStrengthMeter(strength, strengthMeter);
}

function updateStrengthMeter(strength, strengthMeter) {
    strengthMeter.style.width = strength * 25 + '%';
    if (strength === 0) strengthMeter.className = 'strength-meter-fill';
    else if (strength === 1) strengthMeter.className = 'strength-meter-fill weak';
    else if (strength === 2) strengthMeter.className = 'strength-meter-fill medium';
    else strengthMeter.className = 'strength-meter-fill strong';
}

</script>