{% load static %}

<!-- Medicine Form Modal -->
<div class="modal fade" id="medicineModal" tabindex="-1" aria-labelledby="medicineformModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        {% comment %} <h5 class="modal-title" id="medicineformModalLabel">Add Medicine</h5> {% endcomment %}
        <button type="button" class="btn btn-sm btn-outline-secondary btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <section class="book_section mb-2" id="details">
          <div class="container">
            <form id="medicineForm" method="post" action="{% url 'post_medicine' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <h4>FILL <span>MEDICINE</span></h4>

              <!-- Medicine Name -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="{{ form.medicine_name.id_for_label }}">Medicine Name</label>
                    <input type="text" class="form-control" id="{{ form.medicine_name.id_for_label }}" name="medicine_name" placeholder="Enter medicine name" required>
                  </div>
                </div>
              </div>

              <!-- Description -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description</label>
                    <textarea class="form-control" id="{{ form.description.id_for_label }}" name="description" rows="3" placeholder="Enter description..." required></textarea>
                  </div>
                </div>
              </div>

              <!-- Solution -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="{{ form.solution.id_for_label }}">Solution</label>
                    <textarea class="form-control" id="{{ form.solution.id_for_label }}" name="solution" rows="3" placeholder="Enter solution..." required></textarea>
                  </div>
                </div>
              </div>

              <!-- Additional Comment -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="{{ form.additional_comment.id_for_label }}">Additional Comment</label>
                    <textarea class="form-control" id="{{ form.additional_comment.id_for_label }}" name="additional_comment" rows="3" placeholder="Additional comments..." required></textarea>
                  </div>
                </div>
              </div>

              <!-- Dose -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="{{ form.dose.id_for_label }}">Dose</label>
                    <input type="text" class="form-control" id="{{ form.dose.id_for_label }}" name="dose" placeholder="Enter dose" required>
                  </div>
                </div>
              </div>

              <!-- Cost -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="{{ form.cost.id_for_label }}">Cost</label>
                    <input type="number" class="form-control" id="{{ form.cost.id_for_label }}" name="cost" placeholder="Enter cost" required>
                  </div>
                </div>
              </div>

             <!-- Profile Image -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="{{ form.profile_image.id_for_label }}">Medicine Profile Image (Optional)</label>
                    <input type="file" class="form-control" id="{{ form.profile_image.id_for_label }}" name="profile_image" accept="image/*">
                  </div>
                </div>
              </div>

              <!-- Image -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="{{ form.image.id_for_label }}">Medicine Image (Optional)</label>
                    <input type="file" class="form-control" id="{{ form.image.id_for_label }}" name="image" accept="image/*">
                  </div>
                </div>
              </div>

              <!-- Video -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="{{ form.video.id_for_label }}">Medicine Video (Optional)</label>
                    <input type="file" class="form-control" id="{{ form.video.id_for_label }}" name="video" accept="video/*">
                  </div>
                </div>
              </div>

              <!-- Submit Button -->
              <div class="btn-box">
                <button id="postmedicine_button" type="submit" class="btn btn-sm btn-light bg-secondary text-white">Post</button>
              </div>

            </form>
          </div>
        </section>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>