{% load static %}

<!-- Medicine Sales Form Modal -->
<div class="modal fade" id="medicinesalesModal" tabindex="-1" aria-labelledby="medicineSalesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        {% comment %} <h5 class="modal-title" id="medicineSalesModalLabel">Add Medicine Sale</h5> {% endcomment %}
        <button type="button" class="btn btn-sm btn-outline-secondary btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <section class="book_section mb-2" id="details">
          <div class="container">
            <form id="medicinesalesForm" method="post" action="{% url 'post_medicine_sales' %}">
              {% csrf_token %}
              <h4>FILL <span>MEDICINE SALE</span></h4>

              <!-- Select Medicine -->
              <div class="row mb-2">
              <!-- Medicine Name (readonly) -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.medicine_name.id_for_label }}">Medicine Name</label>
                    <input type="text" class="form-control" id="{{ form.medicine_name.id_for_label }}" name="medicine_name">
                  </div>
                </div>


                <!-- Medicine Unit(readonly) -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.code.id_for_label }}">Medicine Code</label>
                    <input type="text" class="form-control" id="{{ form.code.id_for_label }}" name="code">
                  </div>
                </div>

               <!-- Medicine Unit (select dropdown) -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="unit">Medicine Unit</label>
                  <select class="form-control" id="unit" name="unit" required>
                      <option value="">-- Select Medicine Unit --</option>
                      <option value="box">Box</option>
                      <option value="tin">Tin</option>
                      <option value="piece">Piece</option>
                      <option value="bottle">Bottle</option>
                  </select>
                </div>
              </div>


              
              <div class="row mb-2">
              <!-- Medicine Type (select dropdown) -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="medicine_type">Medicine Type</label>
                  <select class="form-control" id="medicine_type" name="medicine_type" required>
                      <option value="">-- Select Medicine Type --</option>
                      <option value="Solid">Solid</option>
                      <option value="Solid">Textures</option>
                      <option value="Liquid">Liquid</option>
                      <option value="Powder">Powder</option>
                  </select>
                </div>
              </div>

                <!-- Medicine Cost (readonly) -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.medicine_cost.id_for_label }}">Medicine Cost</label>
                    <input type="number" class="form-control" id="{{ form.medicine_cost.id_for_label }}" name="medicine_cost">
                  </div>
              </div>

              <!-- Medicine PV Points -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ form.medicine_pv.id_for_label }}">Medicine PV Points</label>
                    <input type="number" class="form-control" id="{{ form.medicine_pv.id_for_label }}" name="medicine_pv" placeholder="Enter PV points" required>
                  </div>
                </div>
              </div>

              <!-- Submit Button -->
              <div class="btn-box">
                <button id="postcmedicinesales_button" type="submit" class="btn btn-sm btn-light bg-secondary text-white">Post</button>
              </div>

            </form>
          </div>
        </section>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>