 <!-- posture category -->
           <div class="d-flex justify-content-center align-items-center mt-2 gap-1 px-1 py-2 " style="border-radius:25px; ">
            <div class="d-flex justify-content-center align-items-center mx-1 gap-1 p-2 bg-light" style="border-radius:25px; cursor:pointer;">
                <span class="btn-posture  d-flex justify-content-center align-items-center px-2 py-2 " style="border-radius:35px; background-color:rgb(226, 240, 233);"
                    data-type="medicine"
                    data-id="{{ medicine.id }}">
                    <i class="bi bi-image-fill text-success mx-1" style="font-size:1rem;"></i>Posture
                </span>

                <span class="px-2 py-2 " style="background-color:rgb(226, 240, 233);font-size:1rem; border-radius:30px;" >
                    <a class="text-success mx-1 px-2 py-1 bg-light generic-postcomment-btn"
                    data-url="generic_postcomment"
                    data-type="medicine"
                    data-id="{{ medicine.id }}"
                    data-target="#commentModal"
                    style="font-size:1rem; border-radius:20px;">
                    <i class="bi bi-envelope-heart-fill text-success"></i></a>
                    {% comment %} <i class="bi bi-emoji-heart-eyes-fill text-success mx-2 px-3 py-1 bg-light" style="font-size:1rem; border-radius:20px;"></i> {% endcomment %}
                     <a onclick="shareContent('medicineimage','{{ medicine.id }}')" class="mx-2 share-button text-success mx-2 px-2 py-1 bg-light" style="font-size:1rem; border-radius:20px;">
                    <i class="bi bi-share-fill"></i>
                    </a>
                </span>
            </div>
        </div>

            <!-- video category -->
            <div class="d-flex justify-content-center align-items-center gap-1 px-1 py-2 " style="border-radius:25px; ">
            <div class="d-flex justify-content-center align-items-center mx-1 gap-1 p-2 bg-light" style="border-radius:25px; cursor:pointer;">
                <span class="btn-video d-flex justify-content-center align-items-center px-3 py-2 " style="border-radius:25px; color:rgb(4, 70, 39); background-color:rgb(226, 240, 233);" 
                    data-type="medicine"
                    data-id="{{ medicine.id }}">
                    <i class="bi bi-play-btn-fill text-success mx-1" style="font-size:1rem;"></i>Video
                </span>

                <span class="px-2 py-2 " style="background-color:rgb(226, 240, 233);font-size:1rem; border-radius:30px;">
                     <a class="text-success mx-1 px-2 py-1 bg-light generic-postcomment-btn"
                    data-url="generic_postcomment"
                    data-type="medicine"
                    data-id="{{ medicine.id }}"
                    data-target="#commentModal"
                    style="font-size:1rem; border-radius:20px;">
                    <i class="bi bi-envelope-heart-fill text-success"></i></a>
                    {% comment %} <i class="bi bi-emoji-heart-eyes-fill text-success mx-2 px-3 py-1 bg-light" style="font-size:1rem; border-radius:20px;"></i> {% endcomment %}
                     <a onclick="shareContent('medicinevideo','{{ medicine.id }}')" class="mx-2 share-button text-success mx-2 px-2 py-1 bg-light" style="font-size:1rem; border-radius:20px;">
                    <i class="bi bi-share-fill"></i>
                    </a>
                </span>
           </div>
    </div>
    


         <!-- comment category -->
        <div class="d-flex justify-content-center align-items-center gap-1 px-1 py-2 " style="border-radius:25px; ">
        <form id="commentForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex justify-content-center align-items-center mx-2 gap-2 py-2 px-3 bg-light"
            style="border-radius:25px;">
            <textarea class="form-control bg-light"
                    name="comment"
                    rows="1"
                    required
                    style="border:0; border-bottom:2px solid rgb(4,70,39); max-width:160px;"></textarea>

            <button class="p-1 btn submit-postcomment-btn" type="submit"
                    data-form="#commentForm"
                    data-modal="#commentModal"
                    data-url="generic_postcomment"
                    data-type="medicine"
                    data-id="{{ medicine.id }}"
                    style="border-radius:35px; color:rgb(4,70,39); background-color:rgb(226,240,233);">
            <i class="bi bi-plus-lg text-success mx-1" style="font-size:1rem;"></i>
            </button>
        </div>
        </form>
        </div>