
{% extends 'layout.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<style>
  .message {
      color: purple;
  }
</style>
<section class="book_section layout_padding mt-5" id="details">
    <div class="row">
      <div class="col">
        <div class="container ">

          <form method="post">
            {% csrf_token %}
            <h4>
              CONFIRM<span> DETAILS</span>
            </h4>
            
            <div class="form-row" id="login-input-container">
                <div class="form-group col-lg-4">
                  <label id="login-label" for="first_name">First Name</label>
                  <input type="text" class="form-control" name="first_name" id="login-input" placeholder="Fill First Name" required>
                </div>
              </div>

              <div class="form-row" id="login-input-container">
                <div class="form-group col-lg-4">
                  <label id="login-label" for="last_name">Last Name</label>
                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Fill Last Name" required>
                </div>
              </div>

              <div class="form-row" id="login-input-container">
                <div class="form-group col-lg-4">
                  <label id="login-label" for="mobile_contact">Mobile Contact</label>
                  <input type="text" class="form-control" name="mobile_contact" id="mobile_contact" placeholder="Fill Mobile contact" required>
                </div>
              </div>

                <div class="form-row" id="login-input-container">
                <div class="form-group col-lg-4">
                  <label id="login-label" for="membership_no">Membership No</label>
                  <input type="text" class="form-control" name="membership_no" id="membership_no" placeholder="Fill Your Membership-No" required>
                </div>
              </div>
  


            {% if error %}
              <p style="color: red;">{{ error }}</p>
            {% endif %}

            <div class="btn-box ">
              <button type="submit" class="btn btn-sm bg-secondary text-white">Confirm</button>
              <a href="{% url 'login' %}" class="btn btn-sm text-secondary bg-light p-2 mt-3">Back</a>
            </div> 
          </form>

        </div>
      </div>
    </div>
</section>


{% endblock %}


