<div class="modal fade" id="postureModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">

      <div class="modal-header bg-secondary">
        <!-- <h5 class="modal-title text-success text-uppercase">
          {{ model_type }} DETAILS 
        </h5> -->
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body bg-secondary">
        <div class="corediv_service mx-2" style="border-radius:35px;">
          {% comment %} <div class="core_service d-flex justify-content-center align-items-center px-2">
            <i class="bi bi-image-fill mx-2" style="font-size:2.5rem; color:rgba(9,53,71,1);"></i>
             <b style="font-size:20px;">TANGAZO LA PICHA</b> 
          </div> {% endcomment %}

          <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded">
            <div>
              {% if object.image %}
              <img class="categoryimg rounded mb-1" style="width:100%; height:100%;" src="{{ object.image.url }}" alt="{{ model_type }}">
              {% endif %}

              <div class="d-flex justify-content-center align-items-center mx-1 gap-1 px-1" style="border-radius:25px; padding:3px; background-color:rgba(20, 133, 67, 1);">
                <span class="bg-warning sharebtn p-1" >
                <span class="p-1" style="border-radius:35px;cursor:pointer; background-color:rgba(9, 71, 35, 1);">
                  <a onclick="shareContent('{{model_type}}image','{{ object.id }}','{{ request_id }}')" class="mx-2 share-button  mx-2 px-2 py-1 text-light" style="font-size:1rem; border-radius:20px;">
                    <i class="bi bi-share-fill"></i>
                  </a>
                </span>
              </span>
                {% comment %} <span class="p-1 bg-light" style="border-radius:35px;">
                  <i class="bi bi-emoji-heart-eyes-fill text-success mx-2" style="font-size:1rem;"></i>
                </span> {% endcomment %}
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
