{% extends 'layout2.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %} 

    
 <section class="book_section layout_padding mt-5" id="details">

    <div class="row">
      <div class="col">
        <div class="container ">

            <!-- fill Admin  details-->
             {% comment %} <form method="post">
          {% csrf_token %}
          <h4>
         <!--   FILL REGISTRATION  --> SAJILI TAARIFA ZA <span> <!--DETAILS --> KIONGOZI </span>
          </h4>
        {{ admin_form.as_p }}

        <span class="mt-2">
          {% if error %}
          <p style="color: red;">{{ error }}</p>
      {% endif %}
        </span>

          <div class="btn-box">
            <button type="submit" class="btn btn-sm text-light"  style="background-color:rgb(8, 71, 100);" name="register_admin"> <!-- Register --> Sajiri</button>
            <a href="{% url 'login' %}" class="btn btn-sm text-secondary bg-light p-2 mt-3"> <!-- Login --> Ingia</a>
          </div> 
        </form>   {% endcomment %}


        <!-- fill provider details-->
         <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h4 style="color:rgba(18, 23, 26, 1);">
           <!-- FILL MEMBER REGISTRATION --> SAJIRI TAARIFA ZA <span class="text-success"><!-- DETAILS --> MWANACHAMA</span>
          </h4>
        {{ member_form.as_p }}

        <span class="mt-2">
          {% if error %}
          <p style="color: red;">{{ error }}</p>
      {% endif %}
        </span>

          <div class="btn-box">
            <button type="submit" class="btn btn-sm text-light"  style="background-color:rgb(4, 70, 39);" name="register_member"> <!-- Register --> Sajiri</button>
            <a href="{% url 'login' %}" class="btn btn-sm text-secondary bg-light p-2 mt-3"> <!-- Login --> Ingia</a>
          </div> 
        </form>  
        
      </div>
  </div>
</div>
</section>


    {% endblock content %}
